.post{
  background-color: #d5d5d5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 1.5cm;
  margin-left: 80px;
  margin-right: 80px;
}

h1{
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 0cm;
  margin-bottom: 30px;
}

p{
  text-align: justify;
  line-height: 2;
  margin-left: 20px;
}
.post-footer{
  text-align: end;
  display: block;
  color: rgb(109, 108, 108);
  font-size: smaller;
  top: 100px;
}
 

  
  