
/*--------Image-----------*/
.im{
  color: #373D3F ;

}
.who{
  text-align: justify;
  font-size: 1.2rem;
  text-indent: 2rem;
  color: #373D3F ;

  line-height: 1.8rem;
}

.whereUFind{
  padding-left: 1vw;
  padding-top: 2rem;
  text-align: start;
  color:#373D3F;
}
.external_links{
  display: flex;
  flex-direction: row;
  
}
/*------redirect to github--------*/
.git{
  padding-left: 2vw;
  padding-right: 1vw;
  margin-top: 2vh;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
}
.git:hover {
  transform: scale(1.1);
}
.simbol{
  padding-bottom:0.5vh;
  padding-right:0.3vw;
  display: inline-block;
  vertical-align: middle;
  transition: ease-in-out;
  -webkit-transition: all 0.8s;
}
.text{
  color: #373D3F;
  display: inline-block;
  vertical-align: 0.1rem;
  transition: ease-in-out;
  font-size: 1rem;
  -webkit-transition: all 0.8s;
}
.simbol:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  animation-duration: 0.8;
}


/* ---------Redirect to Resume doc------*/
.curr{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  width: 8rem;
  height: 2.5rem;

  margin-top: 6vh;
  margin-bottom: 6vh;
  margin-left: 2vw;
  text-align: center;

  text-decoration: none;
  font-size: 1.3rem;
 
  cursor: pointer;
  border-radius: 4px;

  background-color: #008686;
}
.simbol_down{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  padding-right:0.5vw;
  display: inline-block;
  color: #fff5f5d8;
  vertical-align: -0.5rem;
}
.curriculo{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  display: inline-block;
  vertical-align: -0.4rem;
  color: #fff5f5d8;
}


.curr:hover {
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  color: rgb(161, 158, 158);
  transform: scale(1.1);
  transition-duration: 0.3s;
  filter: brightness(120%);
  animation-duration: 0.3s;
}
