
/*---------------Image-----------*/
.zoom {
  overflow: hidden;
}

.zoom img {
  width: 100vw;
  filter: brightness(90%);
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -ms-grid-row-align: center;
  transition: all 0.8s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  filter: brightness(100%);
  transform: scale(1.1);
}

.fundo{
  background-color: #2D034C;
}


/*------MENU-----*/
li{
  flex-grow: 1;
  display: inline;
  align-items: center;
  text-align: center;
}
li #link:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.274);
  color: white;
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  transition-duration: 0.3s;
}
#link{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  display: inline-table;
  text-decoration: none;
  color:#D5D5D5;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 6vw;
  padding-left:  6vw;;
  align-items: center;
  font: bolder;
  font-weight: bold;
  font-size:  calc(20px + (20 - 20) * ((100vw - 300px) / (1600 - 300)));
}

ul{
  flex-grow: 1;
  background-color: #2D034C;
  list-style: none;
  padding-bottom:5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headerOptions{
    width: 100%;
  }
}