.titulo_post{
    padding-bottom: 3vh;
    font-size: 1.4rem;
}

.post-footer{
    vertical-align: bottom;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.linha{
    padding-top: 5vh;
}

.texto_do_post{
    text-indent: 1.5vh;
    text-align: justify;
    text-indent: 5vw;
    margin-left: 1vw;
    line-height: 4vh;
}