.titulo_post{
    padding-bottom: 3vh;
    font-size: 1.4rem;
    color: #373D3F; 
}

.post-footer{
    vertical-align: bottom;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.linha{
    padding-top: 5vh;
}

.texto_do_post{
    font-size: 1.1rem;
    text-indent: 1.5vh;
    text-align: justify;
    text-indent: 5vw;
    color: #373D3F ;
    margin-right: 1vw;
    line-height: 4vh;
}