h1{
  color: rgb(0, 0, 0);
  text-align: left;
}
h4{
  color: rgb(0, 0, 0);
  text-align: left;
  padding-bottom: 20px;
}

.who{
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 1cm;
  padding-top: 20px;
  padding-bottom: 2cm;
  text-indent: 1cm;
}
.redes{
  text-align: left;
  line-height: 2;
  padding-left: 1cm;
 
}
