
/*--------Image-----------*/

h4{
  color: rgb(0, 0, 0);
  text-align: left;
}

.who{
  text-align: justify;
  line-height: 4vh;
  text-indent: 2rem;
  font-size: 1.15rem;
}

.external_links{
  display: flex;
  flex-direction: row;
}
/*------redirect to github--------*/
.git{
  padding-left: 2vw;
  margin-top: 3vh;
  text-align: left;
  font-size: 1rem;
  line-height: 6vh;
  cursor: pointer;
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
}
.simbol{
  padding-bottom:0.5vh;
  padding-right:1vw;
  display: inline-block;
  vertical-align: middle;
  transition: ease-in-out;
  -webkit-transition: all 0.8s;
}

.text{
  display: inline-block;
  vertical-align: top;
  transition: ease-in-out;
  font-size: 1rem;
  -webkit-transition: all 0.8s;
}
.git:hover {
  transform: scale(1.1);
}
.text:hover{
  animation-duration: 0.8s;
}
.simbol:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  animation-duration: 0.8;
}


/* ---------Redirect to Resume doc------*/
.curr{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  width: 33vw;
  height: 6vh;

  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;

  text-decoration: none;
  font-size: 18px;
 
  cursor: pointer;
  border-radius: 4px;

  background-color: #008686;
}
.simbol_down{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  padding-right:13px;
  display: inline-block;
  color: #fff5f5d8;
  vertical-align: -9px;
}
.curriculo{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  display: inline-block;
  vertical-align: -7px;
  color: #fff5f5d8;
}


.curr:hover {
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  color: rgb(161, 158, 158);
  transform: scale(1.1);
  transition-duration: 0.3s;
  filter: brightness(120%);
  animation-duration: 0.3s;
}
