/*----------Images-----*/
.project_image{
  margin-left: auto;
  margin-right: auto;
  height: 19vmin;
  display: flex;
  position: relative;
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  align-self: center;
  margin-bottom: 1vh;
}
.project_image:hover{
  transform: scale(1.1);
  filter: brightness(110%);
  
}

/*-----center-----*/
.center{
  align-self: flex-end;
  display: inline-block;  
}
.post{
  background-color: #d5d5d5;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 80px;
}


.divisoria{
  position: relative;
  display:flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.project_description{
  text-align: justify;
  font-size: 1.2em;
  text-indent: 2rem;
  margin-left: 3vw;
  margin-right: 3vw;
  line-height: 1.4em;

}
.post-footer{
  text-align: end;
  display: block;
  color: rgb(109, 108, 108);
  font-size: smaller;
}
 
/*-----------Links to git hub--------*/
.links{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  display:flex;
  padding-left: 2vw;
  padding-top: 2vh;
}

.icon_link{
  cursor: pointer;
  transition: ease-in-out; 
  -webkit-transition: all 0.3s;
  padding-right: 1vw;
}
.icon_link:hover{
  filter: brightness(120%);
  animation-duration: 0.2s;
  transform: scale(1.2);
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 125px;
  background-color: #2D034C;
  color:#D5D5D5;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 37%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2D034C transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}