/*----------Images-----*/
.project_image{
  margin-left: auto;
  margin-right: auto;
  height: 18vmin;
  display: flex;
  position: relative;
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  align-self: center;
}
.project_image:hover{
  transform: scale(1.1);
  filter: brightness(110%);
}

/*-----center-----*/
.center{
  align-self: flex-end;
  display: inline-block;  
}
.post{
  background-color: #d5d5d5;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 80px;
}


.divisoria{
  position: relative;
  display:flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.project_description{
  text-align: justify;
  font-size: 1.2em;
  text-indent: 2rem;
  margin-left: 3vw;
  margin-right: 3vw;
  line-height: 1.4em;

}
.post-footer{
  text-align: end;
  display: block;
  color: rgb(109, 108, 108);
  font-size: smaller;
}
 
/*-----------Links to git hub--------*/
.links{
  transition: ease-in-out;
  -webkit-transition: all 0.3s;
  display:flex;
  padding-left: 2vw;
  padding-top: 2vh;
}

.icon_link{
  cursor: pointer;
  transition: ease-in-out; 
  -webkit-transition: all 0.3s;
  padding-right: 1vw;
}
.icon_link:hover{
  filter: brightness(150%);
  animation-duration: 0.2s;
  transform: scale(1.2);
}