/*---------------Rodapé-----------*/
.footer{
  background-color: #2D034C;
  color: #B5B5B5;
  text-align: center;
  align-items: center;
  width: 100vw;
  font-size: 1.5vh;
  padding-top:2vh ;
  padding-bottom:2vh ;
  bottom: 0px;
}