*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color:#9099a2;
  font: normal 18px Arial;
  font-family: sans-serif;
  text-align: center;
  flex: auto;
  align-items: center;
}


/*----------------FUNDO--------------*/
.back{
  background-color: #d5d5d5;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  height: max-content;
  margin-left: 80px;
  margin-right: 80px;  
}
/*---------------Cabeçalho-----------*/
.cabeçalho{
  color: black;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 10cm;
  text-align: left;
  font-size: 70px;
  background-color: #96858f;
}



/*------MENU-----*/
li{
  display: inline;
  align-items: center;
  text-align: center;
}
li .link:hover {
  border-radius: 10px;
  background-color: rgba(41, 41, 41, 0.212);
  color: white;
}
.link{
  display: inline-block;
  text-decoration: none;
  color:rgb(255, 255, 255);
  padding: 15px;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center;
  font: bold;
  font-size: 25px;
}
.link:active{
  background-color: rgba(41, 41, 41, 0.212);
}

ul{
  background-color: #6d7993;
  list-style: none;
  margin-top: -10px;
  margin-bottom: 10px;
}

/*---------------CENTRO-----------*/
.post{
  background-color: #d5d5d5;
  border-radius: 10px;
  padding: 15px;

}
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.200); 
  left: 5cm;
  justify-content: center;
}

/*---------------Rodapé-----------*/
div.footer{
  background-color: #6d7993;
  text-align: center;
  font-size: 16px;
  
  width: 100%;
  bottom: 0px;
  padding-top:10px ;
  padding-bottom:10px ;
}
