@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color:#9583A2;
  text-align: center;
  flex: auto;
  align-items: center;
  font: Ubuntu;
}
/*-------barra de rolagem-----*/


body::-webkit-scrollbar-track {
  background-color: #B5B5B5;
}
body::-webkit-scrollbar {
  width: 8px;
  background:#9583A2;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2D034C;
}
/*---------------Cabeçalho-----------*/
.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
  -ms-grid-row-align: center;
	transition: all 0.8s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.fundo{
  background-color: #2D034C;
}

/*------auto rolagem----*/

/*------MENU-----*/
li{
  display: inline;
  align-items: center;
  text-align: center;
}
li .link:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.274);
  color: white;
}
.link{
  display: inline-block;
  text-decoration: none;
  color:#D5D5D5;
  padding: 15px;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center;
  font: bold;
  font-size: 25px;
}
.link:active{
  background-color: rgba(0, 0, 0, 0.274);
}

ul{
  background-color: #2D034C;
  list-style: none;
  
  margin-bottom: 10px;
}

/*----------------FUNDO--------------*/
.back{
  background-color: #D5D5D5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  height: max-content;
  justify-content: center;
  
  margin-left: 50px;
  margin-right: 50px;  
}
/*---------------CENTRO-----------*/
.center{
  background-color: #D5D5D5;
  padding: 15px;
  justify-content: center;

}
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.200); 
  justify-content: center;
}

/*---------------Rodapé-----------*/
div.footer{
  background-color: #2D034C;
  color: #B5B5B5;
  text-align: center;
  font-size: 16px;
  padding-top:10px ;
  padding-bottom:10px ;
}
